<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>monitor3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="site">
    <div class="grid-container con1">
      <div class="item-container grid1">
        <img src="assets/image/img_avatar.png"/>
      </div>

      <div class="item-container 2">
        <ion-text >
          <p>006</p>
        </ion-text>
        <ion-text >
          <p>boom2</p>
        </ion-text>
        <ion-text >
          <p>male</p>
        </ion-text>
        <ion-text >
          <p>1</p>
        </ion-text>
      </div>
    
      <div class="item-container 3">
        <ion-label>Temperature</ion-label>
        <ion-text >
          <h3>36.30</h3>
        </ion-text>
      </div>
      <div class="item-container grid4">
        <ion-label>Have Mask</ion-label>
      </div>    
      <div class="item-container grid5">
        <ion-button (click)="onClick()" expand="block">
          Connect
        </ion-button>
      </div>
      <div class="item-container grid-footer">
      
      </div>

    </div>

    <div class="grid-container con1">
      <div class="item-container grid1">
        <img src="assets/image/img_avatar.png"/>
      </div>

      <div class="item-container 2">
        <ion-text >
          <p>006</p>
        </ion-text>
        <ion-text >
          <p>boom2</p>
        </ion-text>
        <ion-text >
          <p>male</p>
        </ion-text>
        <ion-text >
          <p>1</p>
        </ion-text>
      </div>
    
      <div class="item-container 3">
        <ion-label>Temperature</ion-label>
        <ion-text >
          <h3>36.30</h3>
        </ion-text>
      </div>
      <div class="item-container grid4">
        <ion-label>Have Mask</ion-label>
      </div>    
      <div class="item-container grid5">
        <ion-button (click)="onClick()" expand="block">
          Connect
        </ion-button>
      </div>
      <div class="item-container grid-footer">
      
      </div>

    </div>
  </div>

  
  


</ion-content>
