ion-content {
    --background: #e3e4e9;
}
.ngx-datatable {
    height: auto;
    max-width: 100%;
    display: block;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    padding: 8px;
    box-shadow: none;
}

.datatable {
    // background: #ff8600;
    // border-radius: 5px;
    // text-align: center;
    ngx-datatable-header-template {
        text-align: center;
    }
    .color-status {
    color: #fff;
    border-radius: 5px;
    text-align: center;
   
    }
    .text-in{
        background: #10CE78;
      }
      
      .text-out{
        background: red;
      }
    }