.active{
    --ion-text-color: var(--ion-color-pruksa);
    ion-icon{
        --ion-text-color-rgb: var(--ion-color-pruksa);
    }
}

.active-parent{
    font-weight: 500;
}

.sub-item{
    padding-left: 20px;
    font-size: small;
}