<ion-header>
  <ion-toolbar color="pruksa">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>visitormanage</ion-title>
  </ion-toolbar>
</ion-header>

<!-- 
<ion-content>

  <div class="grid-site">
    <div class="grid-header">
      <img src="assets/image/logo.png"/>
    </div>
    <div class="gride-container1">
      <div class="item cardid item2">
        <img src="assets/image/namecard.png"/>
        <button ion-button color="secondary">Read CardID</button>
      </div>
      <div class="item dis item4">
        <ion-item>
          <ion-label>Visitor Type</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="คนส่งอาหาร">คนส่งอาหาร</ion-select-option>
            <ion-select-option value="ไปรษณีย์">ไปรษณีย์</ion-select-option>
          </ion-select>
        </ion-item>
        
  <ion-item>
    <ion-input type="text" placeholder="Name"></ion-input>
  </ion-item>

<ion-item>
    <ion-input type="text" placeholder="Address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Note"></ion-input>
  </ion-item>
      </div>
    </div>


    <div class="gride-container2">

      <div class="item headertype item">
        <ion-label>Visitor Type</ion-label>
      </div>

      <div class="item headerin item">
        <ion-label>IN</ion-label>
      </div>

      <div class="item headerout item">
        <ion-label>OUT</ion-label>
      </div>


      <div class="item listtype item">
        <ion-label>คนส่งอาหาร</ion-label>
      </div>

      <div class="item listin item">
        <ion-label>5</ion-label>
      </div>

      <div class="item listout item">
        <ion-label>1</ion-label>
      </div>
    
      <div class="item listtype item">
        <ion-label>ไปรษณีย์</ion-label>
      </div>

      <div class="item listin item">
        <ion-label>2</ion-label>
      </div>

      <div class="item listout item">
        <ion-label>2</ion-label>
      </div>
 
      <div class="item footertype item">
        <ion-label>Total Visitor</ion-label>
      </div>

      <div class="item footerin item">
        <ion-label>7</ion-label>
      </div>

      <div class="item footerout item">
        <ion-label>3</ion-label>
      </div>

    </div>



  </div>

</ion-content> -->
