<ion-header>
  <ion-toolbar color="primary">
    <ion-title>CheckIn</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">


  <ion-grid>
    <ion-row>

      <ion-col sizeLg="6" sizeMd="12">
        <ion-card class="box-image">
          <ion-row>
            <ion-col sizeLg="6" sizeMd="12">
              <div>
                <div class="tital-image">ใบหน้าคน</div>
  
                <div id="img-face">
                  <img id="faceImg" [src]="fileFaceImg" width="300px" height="150px" />
                  <canvas hidden #canvasFace id="canvasFace" width="300" height="150"></canvas>
                  <video hidden #videoFace id="videoFace" width="300px" height="150px" autoplay></video>
                </div>
  
                <img *ngIf="progresFace == 0" src="assets/image/delete.png" width="25px" height="25px">
                <img *ngIf="progresFace == 100" src="assets/image/check.png" width="25px" height="25px">
  
                <div class="btn-save">
                  <input type="file" id="inputFace" accept="image/png, image/jpeg" (change)="browseFaceChange($event)"
                    hidden>
                  <ion-button size="small" (click)="browseFace()" color="success">
                    เลือกไฟล์
                  </ion-button>
  
                  <ion-button size="small" id="webcamFace" (click)="webcamFace()" color="success" value="webcam">
                    webcam
                  </ion-button>
                  <ion-button size="small" color="success">
                    cctv
                  </ion-button>
                </div>
  
              </div>
            </ion-col>
            <ion-col sizeLg="6" sizeMd="12">
              <div>
        
                <div class="tital-image">บัตรประชาชน</div>
  
                <div class="img-card">
                  <img id="cardidImg" [src]="fileCardidImg" width="300px" height="150px" />
                  <canvas hidden #canvasCardid id="canvasCardid" width="300" height="150"></canvas>
                  <video hidden #videoCardid id="videoCardid" width="300px" height="150px" autoplay></video>
                </div>
  
                <img *ngIf="progresCardid == 0" src="assets/image/delete.png" width="25px" height="25px">
                <img *ngIf="progresCardid == 100" src="assets/image/check.png" width="25px" height="25px">
  
                <div class="btn-save">
                  <input type="file" id="inputCardid" name="browseCardid" accept="image/png, image/jpeg"
                    (change)="browseCardidChange($event)" hidden />
                  <ion-button size="small" (click)="browseCardid()" color="success">
                    เลือกไฟล์
                  </ion-button>
  
                  <ion-button size="small" id="webcamCardid" (click)="webcamCardid()" color="success" value="webcam">
                    webcam
                  </ion-button>
                  <ion-button size="small" color="success">
                    cctv
                  </ion-button>
                </div>
  
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col sizeLg="6" sizeMd="12">
              <div>
                <div class="tital-image">รูปรถ</div>
    
                <div class="img-car">
                  <img id="carImg" [src]="fileCarImg" width="300px" height="150px" />
                  <canvas hidden #canvasCar id="canvasCar" width="300" height="150"></canvas>
                  <video hidden #videoCar id="videoCar" width="300px" height="150px" autoplay></video>
                </div>
    
                <img *ngIf="progresCar == 0" src="assets/image/delete.png" width="25px" height="25px">
                <img *ngIf="progresCar == 100" src="assets/image/check.png" width="25px" height="25px">
    
    
                <div class="btn-save">
                  <input type="file" id="inputCar" name="browseCar" accept="image/png, image/jpeg"
                    (change)="browseCarChange($event)" hidden />
                  <ion-button size="small" (click)="browseCar()" color="success">
                    เลือกไฟล์
                  </ion-button>
    
                  <ion-button size="small" id="webcamCar" (click)="webcamCar()" color="success" value="webcam">
                    webcam
                  </ion-button>
                  <ion-button size="small" color="success">
                    cctv
                  </ion-button>
                </div>
    
              </div>
            </ion-col>
  
            <ion-col sizeLg="6" sizeMd="12">
              <div>
                <div class="tital-image">ทะเบียนรถ</div>
                <div class="img-carnum">
                  <img id="carnumImg" [src]="fileCarnumImg" width="300px" height="150px" />
                  <canvas hidden #canvasCarnum id="canvasCarnum" width="300" height="150"></canvas>
                  <video hidden #videoCarnum id="videoCarnum" width="300px" height="150px" autoplay></video>
                </div>
    
                <img *ngIf="progresCarnum == 0" src="assets/image/delete.png" width="25px" height="25px">
                <img *ngIf="progresCarnum == 100" src="assets/image/check.png" width="25px" height="25px">
    
                <div class="btn-save">
                  <input type="file" id="inputCarnum" name="browseCarnum" accept="image/png, image/jpeg"
                    (change)="browseCarnumChange($event)" hidden />
                  <ion-button size="small" (click)="browseCarnum()" color="success">
                    เลือกไฟล์
                  </ion-button>
    
                  <ion-button size="small" id="webcamCarnum" (click)="webcamCarnum()" color="success" value="webcam">
                    webcam
                  </ion-button>
                  <ion-button size="small" color="success">
                    cctv
                  </ion-button>
                </div>
    
              </div>
            </ion-col>
          </ion-row>
  
        </ion-card>
      </ion-col>

      <ion-col sizeLg="6" sizeMd="12">
        <ion-card class="box-form">
          <form [formGroup]="visitorForm" (ngSubmit)="submitvForm()" novalidate>
          <ion-row>
            <ion-col>
              <mat-form-field appearance="outline">
                <mat-label>ชื่่อ-นามสกุล</mat-label>
                <input matInput formControlName="vFullName" type="text">
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field appearance="outline">
                <mat-label>รหัสบัตรประชาชน</mat-label>
                <input matInput formControlName="vTaxId" type="text">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <mat-form-field appearance="outline">
                <mat-label>ที่อยู่</mat-label>
                <textarea matInput formControlName="vAddress" type="text"></textarea>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field appearance="outline">
                <mat-label>เพศ</mat-label>
                <input matInput formControlName="vGender" type="text">
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field appearance="outline">
                <mat-label>วันเกิด</mat-label>
                <input matInput formControlName="vBirthday" type="text">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field appearance="outline">
                <mat-label>ประเภทผู้ติดต่อ</mat-label>
                <mat-select formControlName="vType" name="visitortype" id="visitortype">
                  <mat-option *ngFor="let vType of vTypes" [value]="vType.value">
                    {{ vType.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field appearance="outline">
                <input matInput placeholder="ชื่อบริษัท" aria-label="ชื่อบริษัท" [matAutocomplete]="auto"
                  [formControl]="companyCtrl" (keyup.enter)="enter()">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event.option)">
                  <mat-option *ngFor="let com of filteredStates | async" [value]="com">
                    <span>{{ com }}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field appearance="outline">
                <mat-label>ระบุทะเบียนรถ</mat-label>
                <input matInput formControlName="vCarnum" type="text">
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field appearance="outline">
                <mat-label>ชั้นที่มาติดต่อ</mat-label>
                <input matInput formControlName="floor" type="text">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field appearance="outline">
                <mat-label>ระบุบ้านเลขที่</mat-label>
                <input matInput formControlName="housenum" type="text">
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field appearance="outline">
                <mat-label>หมายเหตุ</mat-label>
                <input matInput formControlName="vNote" type="text">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button type="submit" color="primary" expand="block">Submit</ion-button>
            </ion-col>
          </ion-row>

          

        </form>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>