*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ion-col {
    // background-color: #f7f7f7;
    // border: solid 1px #ddd;
    padding: 3px;
  }
// .container{
//     // max-width: 960px;
//     width: 100%;
//     margin: 0;
//     font-family: Kanit;
// }

// ion-toolbar {
//     display: flex;
//     // height: 70px;
// }
// ion-header {
//     .box-title {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         flex: 1;
//         justify-content: flex-end;
//     }

//     .box-title h3 {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         flex: 1;
//         justify-content: flex-start;
//     }

//     .items {
//         margin-right: 5px;
//       }

//       .btn {
//         display: inline-block;
//         border-radius: 5em;
//         border: 0;
//         padding: 0.5rem 1rem;
//         white-space: nowrap;
//         margin-right: 5px;
//     }

//     .btn--chackin {
//         color: #fff;
//         background-color: #10CE78;
//         outline: none;
        
//     }
    
//     .btn--chackout {
//         color: #fff;
//         background-color: #F52F30;
//         outline: none;
//     }
// }

// ion-content {
//     --ion-background-color:#f4f7fa;
// }


// .main {
//     margin-top: 8px;
//     display: grid;
//     grid-template-columns: 3fr 1.5fr;
//     gap: 10px;
// }

// .search {
//     width: 100%;
//     display: flex;
//     height: 80px;
//   }

//   .searchTerm {
//     width: 25%;
//     border: 3px solid #3880ff;
//     border-right: none;
//     padding: 5px;
//     height: 45px;
//     border-radius: 5px 0 0 5px;
//     outline: none;
//     margin-top: 8px;
//     margin-left: 10px;
//     // color: #9DBFAF;

//   }
//   .searchButton {
//     width: 40px;
//     height: 45px;
//     border: 1px solid #3880ff;
//     background: #3880ff;
//     color: #fff;
//     border-radius: 0 5px 5px 0;
//     cursor: pointer;
//     font-size: 20px;
//     margin-top: 8px;
//   }

// .box-show{
//     width: 100%;
//     height: auto;
// }

// .box-show-grid{
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-gap: 0.5rem;
// }
// .box-show-grid-item{
//     // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
//     // border: 1px solid rgba(0,0,0,.0625);
//     padding: 0;
//     transition: .5s ease-in-out;
//     background-color: #fff;
//     border: 0px solid transparent;
//     float: left;
//     padding: 1.25em;
//     position: relative;
//     height: 80px;
    
// }

// // .color-status {
// //    background-color: #10CE78;
// //    padding: 3px;
// //    border-radius: 5px;
// //    text-align: center;
// //    display: flex !important;
// //    align-items: center !important;
// // }

// .box-show-grid-item .icon ion-icon{
//     font-size: 50px; 
//     line-height: 50px;
//     position: absolute;
// }
   
// .box-show-grid-item .start-text{
//     margin-left: 85px;
// }  
// .box-show-grid-item .text-left{
//     text-align: left!important;
//     display: inline-block;
// }
// .box-show-grid-item .text-header{
//     color: #99abb4;
//     font-size: 14px;
// }
// .box-show-grid-item .text h2 {
//     color: #455a64;
//     font-size: 30px;
//     margin: 0 0 5px;
// }

// // //////////////////////////////////////////////////////////////////

// // .map-show{
// //     width: 100%;
// //     height: auto;
// // }

// // .map-show-grid{
// //     display: grid;
// //     // grid-template-columns: repeat(4, 1fr);
// //     // grid-gap: 2rem;
// //     margin-top: 50px;
// //     margin-right: 15px;
// //     margin-left: 15px;
// // }

// // .box-show-grid-item{
// //     border-radius: 5px;
// //     padding: 0;
// //     transition: .5s ease-in-out;
// //     background-color: #fff;
// //     margin-bottom: 10px;
// //     border: 0px solid transparent;
// //     float: left;
// //     padding: 1.25em;
// //     position: relative;
// //     width: 100%;
    
// // }

// .box-map{
//     background-color: #fff;
//     border: 0px solid transparent;
//     width: 100%;
//     height: auto;

// }


// .box-map-grid{
//     display: grid;
//     grid-gap: 2rem;
//     height: 760px;
//     background-color: #fff;
// }

// .card {
//     background-color: #fff;
//     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//     transition: all .3s cubic-bezier(0.25,0.8,0.25,1);
//     border-radius: 5px;
//     margin-right: 5px;
//     margin-left: 5px;
//     width: 100%;
//     margin-bottom: 10px;
//     padding: 8px;
// }


// #map {
//     height: 100%;
//     width: 100%;
// }

// // // //////////////////////////////////////////////////////////////////////////////////

// .card-datatable{
//     background-color: #fff;
//     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//     transition: all .3s cubic-bezier(0.25,0.8,0.25,1);
//     border-radius: 5px;
//     margin-right: 5px;
//     margin-left: 5px;
//     width: 100%;
//     padding: 8px;
    
// }
// .datatable{
//     height: auto;
//     max-width: 1319px;
// }

// // .data-table-grid{
// //     display: grid;
// //     margin-top: 25px;
// //     margin-bottom: 25px;
// //     height: auto;
// //     padding: 1.25em;
// // }


// .ngx-datatable {
//     height: auto;
//     width: 100%;
//     display: block;
//     justify-content: center;
//     overflow: hidden;
//     position: relative;
//     transform: translateZ(0);
//     padding: 8px;
//     box-shadow: none;
// }

ion-toolbar {
    display: flex;
    // height: 70px;
}
ion-header {
    .box-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
        .items {
        margin-right: 5px;
        }
        .btn--chackout {
        color: #fff;
        background-color: #F52F30;
        outline: none;
        border-radius: 10px;
        padding: 5px;
        }
        .btn--chackin {
        color: #fff;
        background-color: #10CE78;
        outline: none;
        border-radius: 10px;
        padding: 5px;
        }
    }

    // .box-title:hover {
    //     .btn--chackout {
    //     color: #fff;
    //     background-color: #d43131;
    //     outline: none;
    //     border-radius: 10px;
    //     padding: 5px;
    //     cursor: pointer;
    //     }
    //     .btn--chackin {
    //     color: #fff;
    //     background-color: #14a866;
    //     outline: none;
    //     border-radius: 10px;
    //     padding: 5px;
    //     cursor: pointer;
    //     }
    // }
}

ion-content {
    --background: #e3e4e9;
    // box-sizing: border-box;
    .card-search{
        width: 100%;
        padding: 10px;
        .input-group {
        position: relative;
        .icon {
              position: absolute;
              top: 10px;
              right: 10px;
        }
        }
        ::ng-deep .mat-form-field-infix {
            display: block;
            position: relative;
            flex: auto;
            min-width: 0;
            width: 140px;
        }

        ::ng-deep .mat-form-field-wrapper {
            padding-bottom: 0;
        }
        .search {
            display: flex;
            .item {
                margin-left: 15px;
            }
        }
    }

 


    .red{
        margin: 10px;
        height:20px;
        background-color:red;
      }

    .card-map{
        height: 700px;
        width: 100%;
        padding: 8px;
        #map {
            height: 100%;
            width: 100%;
        }
    }

    .card-table {
        width: 100%;
        .ngx-datatable {
    height: auto;
    width: 100%;
    display: block;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    padding: 8px;
    box-shadow: none;
}
    }

    

   
    .datatable {
        // background: #ff8600;
        // border-radius: 5px;
        // text-align: center;
        ngx-datatable-header-template {
            text-align: center;
        }
        .color-status {
        color: #fff;
        border-radius: 5px;
        text-align: center;
       
        }
        .text-in{
            background: #10CE78;
          }
          
          .text-out{
            background: red;
          }
        }
  }

  @media (min-width: 992px) {
    .card-shownum{
        padding: 10px;
        
        .icon ion-icon{
            font-size: 50px; 
            // line-height: 50px;
            position: absolute;
        }
        .start-text{
            margin-left: 85px;
        }
        .text-left{
            text-align: left!important;
            display: inline-block;
        }
        .text-header{
            color: #99abb4;
            font-size: 14px;
        }
        .text h2 {
            color: #455a64;
            font-size: 30px;
            margin: 0 0 5px;
        }
    }
    #card-map {
        display: block;
    }
    #datatable {
        display: block;
    }
    #datatablenoMap {
        display: none;
    }
}

  @media (max-width: 768px) {
    .card-shownum{

        .icon ion-icon{
            font-size: 30px; 
            // line-height: 50px;
            position: absolute;
            margin-top: 20px;
            margin-left: 10px;
        }
        .start-text{
            margin-left: 85px;
        }
        .text-left{
            text-align: left!important;
            display: inline-block;
        }
        .text-header{
            color: #99abb4;
            font-size: 14px;
        }
        .text h2 {
            color: #455a64;
            font-size: 30px;
            margin: 0 0 5px;
        }
    }
        #card-map {
            display: none;
        }

        #datatable {
            display: none;
        }
        #datatablenoMap {
            display: block;
        }

  }



   
